:root { 
    --COLOR_PRINCIPAL: #005b6f;
    --COLOR_OSCURO: #0a3749;
    --COLOR_SECUNDARIO_1: #457d84;
    --COLOR_SECUNDARIO_2: #c0d8db;
    --COLOR_SECUNDARIO_3: #38b5a9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
    /* 1. Agregamos posición relativa para controlar el ::before */
    position: relative;
    background-color: #041d27; 
}

/* Creo una capa virtual para la imagen */
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
    background: url('/public/img/fondo-login.jpg') no-repeat;
    background-size: cover;
    background-position: top center; 
    opacity: 0.3; 
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: var(--COLOR_PRINCIPAL);
    border: none;
    border-radius: 10px;
    text-decoration: none; 
    transition: all .3s ease;
    align-content: center;
    text-align: center;
}

.btn:hover {
    background-color: var(--COLOR_SECUNDARIO_2);
    color: var(--COLOR_PRINCIPAL);
    cursor: pointer;
}

.contenedor-login {
    width: 420px;
    position: relative; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    margin-top: 50px; 
}

.contenedor-login .contenedor-logo {
    width: 70px; 
    height: 70px;
    position: absolute;
    top: -7%; 
    left: 50%; 
    transform: translateX(-50%); 
    border-radius: 50%; 
    z-index: 10;
    background: var(--COLOR_PRINCIPAL); 
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-login .contenedor-logo .logo {
    width: 50px;
    height: 50px;
    background-image: url('/public/img/logo-COCH-blanco.svg');
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%; 
    margin-right: 4px;
}

.contenedor-login h1 {
    margin: 2em 0 .3em 0;
    color:#fff;
    font-weight: 550;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 4px 8px rgba(0, 1, 1, 0.1);
    font-size: 25px;
}

.contenedor-input {
    position: relative;
    width: 95%;
    margin: 20px 0 1em 0;
}

.contenedor-input input {
    width: 100%;
    padding: 15px 15px 15px 45px;
    background: transparent;
    border: 2px solid var(--COLOR_OSCURO);
    border-radius: 10px;
    color: var(--COLOR_OSCURO);
    font-size: 14px;
}

.contenedor-input .icono {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: var(--COLOR_OSCURO);
    font-size: 18px;
}

.contenedor-input input::placeholder {
    color: var(--COLOR_OSCURO);
}

label {
    font-weight: 600;
    color: var(--COLOR_OSCURO);
    font-size: 16px;
    width: 100%;
}

.enviar{
    margin-top: 2em;
}

/* Estilo del checkbox para recordar sesión */
.contenedor-guardar-sesion {
    display: flex;
    align-items: center;
    margin-top: 2em;
    color: #fff;
}

.contenedor-guardar-sesion input[type="checkbox"] {
    margin-right: 10px;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.contenedor-guardar-sesion label {
    font-size: 14px;
    cursor: pointer;
    font-weight: 500;
    color: #fff;
}

.contenedor-recuperarPassword{
    margin-top: 10px;
}

.contenedor-recuperarPassword a{
    color: var(--COLOR_SECUNDARIO_3);
}