/* VARIABLES */

:root { /*es para no tener que escribir los códigos de color en cada propiedad*/
    --AZUL_OSCURO: #0a3768;
    --AZUL_CLARO: #165bba;
    --VERDE_AGUA: #38b5a9;
    --DEGRADADO: linear-gradient(90deg, var(--VERDE_AGUA), var(--AZUL_CLARO));
    --DEGRADADOREVES: linear-gradient(90deg, var(--AZUL_CLARO), var(--VERDE_AGUA));
}

:root { 
    --COLOR_PRINCIPAL: #005b6f;
    --COLOR_OSCURO: #0a3749;
    --COLOR_SECUNDARIO_1: #457d84;
    --COLOR_SECUNDARIO_2: #c0d8db;
    --COLOR_SECUNDARIO_3: #38b5a9;
}


/*ESTILOS PREESTABLECIDOS EN CLASES. Para usarlos, agregar el nombre de la clase al elemento HTML que quieras*/

.sombra{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}


/* ---------------------------- LISTAR MÉDICOS -------------------------------------------*/

body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    min-height: 100vh; /*para que el body siempre ocupe toda la vista de la pantalla, como mínimo*/
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="%2338b5a9" fill-opacity="0.1" d="M0,0L120,26.7C240,53,480,107,720,112C960,117,1200,75,1320,53.3L1440,32L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path></svg>');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

.contenedor-flex{
    display: flex;
    gap: 1.5em;
}

.contenedor-listado-agregar{
    flex: 1;
    margin-right: 4em;
    margin-top: 2em;
}

.contenedor-listado-agregar .container-listado-medicos{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 2%;
    width: 100%;
}

.contenedor-titulo-boton {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contenedor-titulo-boton h1 {
    flex: 1; /* Hace que el título ocupe el espacio restante */
    text-align: center;
    margin: 0;
    color: var(--AZUL_OSCURO);
    font-weight: 650;
}

body h1 {
    margin: 0 0 .7em 0;
    color: var(--AZUL_OSCURO);
    font-weight: 650;
    font-size: 33px;
}


.contenedor .listado-medicos{
    width: 100%;
    margin: 0;
    overflow: hidden;
    text-align: center;
    align-content: center;
    border-radius: 8px;
}

.contenedor .listado-medicos table{
    width: 100% !important;
    border-collapse: separate;
    background-color: #fff;
    border-spacing: 0 15px;
}

.contenedor .listado-medicos table tbody tr td{
    align-content: center;
    text-align: left;
    color: #626262;
    font-size: 17px;
}

.contenedor .listado-medicos table tbody tr{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    height: 70px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-bottom: 1em;
}
.contenedor .listado-medicos .contenedor-medico{
    align-items: left;
    text-align: left;
}

.contenedor .listado-medicos .contenedor-medico img{
    margin-left: 5px;
    width: 110px;
    height: 110px;
}

table .foto-medico {
    border-radius: 8px;
    object-fit: cover;
}

.contenedor .listado-medicos table tbody tr .contenedor-descripcion{
    width: 30%;
}

.contenedor .listado-medicos table tbody tr .contenedor-nombre{
    width: 12%;
}

.contenedor .listado-medicos table tbody .horarios ul li{
    list-style: none;
}

.contenedor .listado-medicos table tbody .horarios ul{
    padding: 0;
    margin-top: 1em;
}

.contenedor  .listado-medicos table tbody tr .contenedor-id{
    font-weight: 600;
    color: var(--VERDE_AGUA);
    font-size: 20px;
}

.contenedor button{
    font-size: 16px;
    font-weight: 450;
}


/* Estilo para el contenedor fijo */
.atajo-agregar {
    position: fixed;
    bottom: 1%; 
    right: 1%; 
    max-width: 300px;
    transition: opacity 0.3s ease; 
    opacity: 1; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

.atajo-agregar p {
    color: var(--VERDE_AGUA);
    font-size: 20px; 
    font-weight: bold; 
    margin-bottom: 10px;
    text-align: center;
}

.atajo-agregar .btn-flecha {
    width: 60px; 
    height: 60px; 
    background-color: var(--VERDE_AGUA);
    border-radius: 50%;
    padding: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s; 
    color: white; 
    font-size: 24px; 
    text-align: center; 
}

.atajo-agregar .btn-flecha:hover {
    background-color: var(--AZUL_CLARO);
    transform: scale(1.1) translateY(5px); 
}

.atajo-agregar .btn-flecha i {
    margin: 0 auto;
    transition: transform 0.3s; 
}

.atajo-agregar .btn-flecha:hover i {
    transform: translateY(5px); /* Desplaza el ícono hacia abajo */
}

.atajo-agregar.hidden {
    opacity: 0; 
    pointer-events: none; /* Desactiva el clic */
}

.btn-ver-horarios{
    background-color: var(--COLOR_SECUNDARIO_3);
    cursor: pointer;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 1em;
    transition: all .3s ease;
}

.btn-ver-horarios a{
    text-decoration: none;
    color: white;
}

.btn-ver-horarios:hover{
    background-color: var(--COLOR_PRINCIPAL);
}
.btn-ver-horarios a:hover{
    color: white;
}

.contenedor .listado-medicos table tbody tr .contenedor-descripcion {
    width: 20%; 
    max-width: 200px; 
}



/* -------------------------- EDITAR MÉDICOS ----------------------------------*/

.contenedor-editar{
    width: 90%;
}

.editar-medico-contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-contenedor {
    width: 50%;
}

.foto-actual {
    width: 45%;
    text-align: right;
}

.foto-actual img {
    max-height: 400px;
    object-fit: cover;
    border-radius: 30px 0;
    border: 3px solid var(--COLOR_SECUNDARIO_3);
    padding: 0;
}

.container .contenedor-volver-atras {
    display: flex;
    align-items: center;
    justify-content:left;
    width: fit-content; /* Ajusta el ancho al contenido */
    padding: 10px 20px; /* Añade más espacio interior */
    background-color: var(--AZUL_CLARO);
    border-radius: 12px 0;
    transition: all .3s;
    cursor: pointer;
}

.container .contenedor-volver-atras:hover{
    background-color: var(--VERDE_AGUA);
}

.container .contenedor-volver-atras a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.container .contenedor-volver-atras i{
    color: white;
    font-size: 20px;
}


/*---------------------------------- INSERTAR MÉDICOS ------------------------- */

.contenedor-insertar{
    width: 100%;
    margin-top: 100px;
    margin-left: 2em;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.contenedor-formulario-insertar{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: left;
    width: 600px !important;
    margin: 0 !important;
}

.contenedor-formulario-insertar .formulario-insertar{
    width: 100%;
    margin-bottom: 2%;
}

/*Preview de la img cargada*/

.contenedor-imagen-preview {
    position: relative;
    width: 400px;
    height: 430px; 
    display: flex;
    flex-direction: column; 
    align-items: center;
    right: 180px;
}

.cartel-vista-previa {
    opacity: 0;
    cursor: pointer;
    transition: all .3s ease;
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(3, 74, 83, 0.8);
    color: white;
    padding: 8px 15px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    z-index: 9999;
}

.cartel-vista-previa:hover{
    opacity: 1;
}

.imagen-preview {
    object-fit: cover;
    border-radius: 8px;
    width: 400px;
    height: 400px;
    border: 3px solid var(--COLOR_SECUNDARIO_3);
    position: relative;
    z-index: 2;
}

/* Círculos decorativos */
.circulo-decorativo {
    position: absolute;
    border-radius: 50%;
    background-color: var(--COLOR_SECUNDARIO_3); 
    z-index: 1;
}

/* Primer círculo - más grande */
.circulo-decorativo:nth-child(2) {
    width: 220px;
    height: 220px;
    top: -30px;
    left: -30px;
}

/* Segundo círculo - más pequeño */
.circulo-decorativo:nth-child(3) {
    width: 160px;
    height: 160px;
    bottom: -20px;
    right: -20px;
}
