/* VARIABLES DE COLOR */

:root { 
    --COLOR_PRINCIPAL: #005b6f;
    --COLOR_OSCURO: #0a3749;
    --COLOR_SECUNDARIO_1: #457d84;
    --COLOR_SECUNDARIO_2: #c0d8db;
    --COLOR_SECUNDARIO_3: #38b5a9;
}

.boton-siguiente{
    font-size: 20px;
    float: right;
    width: 150px;
}

.container-pasoUno, .container-pasoDos, .container-pasoTres{
    margin-bottom: 2em;
}

.container-pasoDos h1 {
    text-align: center;
}

.diagrama-proceso {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 50px;
    margin-top: 10px;
    gap: 5em;
    border-radius: 8px;
    padding: 5px 2em;
}

.diagrama-proceso .paso {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.diagrama-proceso .paso span{
    margin-top: 10px;
    font-weight: 600;
    color: var(--COLOR_SECUNDARIO_3);
}

.diagrama-proceso .circulo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #808080;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}

.diagrama-proceso .circulo-activo {
    background-color: var(--COLOR_SECUNDARIO_3);
    color: white; 
}

.proceso-agregar-paciente{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 800px !important;
    margin-left: 170px;
    padding-top: 2em;
    padding-bottom: 3em;
}

.formulario-proceso{
    width: 100% !important;
}

.proceso-agregar-paciente h5{
    font-size: 16px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.container-pasoTres {
    padding: 20px;
}

.container-pasoTres h3 {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.container-pasoTres .resumen-pedido{
    width: 100%;
}

.resumen-datos {
    background-color: #fff;
    border: 2px solid var(--COLOR_SECUNDARIO_3);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.resumen-datos h4 {
    color: var(--COLOR_PRINCIPAL);
    margin-bottom: 10px;
}

.resumen-datos p {
    color: #555;
    font-size: 16px;
    line-height: 1.5;
}

#resumen-notas-pedido {
    display: block; 
    max-width: 100%; 
    overflow-wrap: break-word; /* Permite ajustar palabras largas */
    word-wrap: break-word; /* Compatibilidad con navegadores más antiguos */
    word-break: break-word; /* Rompe palabras largas */
    white-space: pre-wrap; /* Mantiene los saltos de línea y ajusta el texto */
    overflow-y: auto; 
    max-height: 200px; 
}


.boton-confirmar{
    background-color: var(--COLOR_SECUNDARIO_3) !important;
}

.boton-anterior{
    background-color: #fff !important;
    border: 2px solid var(--COLOR_PRINCIPAL) !important;
    color: var(--COLOR_PRINCIPAL) !important;
}
.boton-anterior:hover{
    background-color: var(--COLOR_PRINCIPAL) !important;
    color: #fff !important;
}

.boton-confirmar:hover {
    background-color: var(--COLOR_PRINCIPAL) !important;
    border: none;
    color: #fff !important;
}

.botones {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}


/* Estilo para los campos con error */
.error input {
    border: 2px solid red;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

/*RESPONSIVE -----------------------------------------*/

@media (max-width: 1024px) {
    .col-md-3 {
        flex: 0 50%;
        max-width: 50%;
        padding: 0 0.5rem;
    }
    .proceso-agregar-paciente .correo-preferencia{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}

@media (max-width: 768px) {
    .proceso-agregar-paciente{
        flex-direction: column;
        width: 95%;
        margin: 0 auto;
        padding-top: 3em;
        padding-bottom: 3em;
    }
    
    .proceso-agregar-paciente .columna-izquierda{
        width: 90%;
    }
    
    .contenedor-detalle-formulario{
        height: auto;
        width: 50%;
        margin-top: 2em;
    }
}

@media (max-width: 484px) {
    .proceso-agregar-paciente .row{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .proceso-agregar-paciente .col-md-6 {
        flex: 100%;
        max-width: 100%;
        padding: 0;
    }
    .proceso-agregar-paciente .col-md-4 {
        flex: 100%;
        max-width: 100%;
        padding: 0;
    }
    .proceso-agregar-paciente .col-md-12{
        padding: 0;
    }
    .col-md-3 {
        flex: 100%;
        max-width: 100%;
        padding: 0;
    }
    .contenedor-detalle-formulario{
        width: 90%;
        margin-top: 3em;
    }

    .diagrama-proceso {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin: 0 auto;
        gap: 4em;
        border-radius: 8px;
        padding: 0;
    }
    
    .diagrama-proceso .paso {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .columna-izquierda{
        width: 90% !important;
        box-sizing: border-box;
    }

    .proceso-agregar-paciente{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        align-content: center;
        box-sizing: border-box;
    }
    .form-group input {
        padding: 13px 0; 
    }
 
    .container-pasoTres .resumen-pedido{
        width: 100%;
    }
    .resumen-datos {
        padding: 20px 0;
        width: 100%;
        box-shadow: none;
    }

    .container-pasoTres .columna-izquierda{
        width: 100% !important;
    }

    .container-pasoTres {
        padding: 0;
        width: 90%;
        margin: 0 auto;
    }

    .boton-anterior, .boton-confirmar {
        background-color: gray;
        color: white;
        padding: 5px 10px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
}
