/* VARIABLES */

:root { 
    --COLOR_PRINCIPAL: #005b6f;
    --COLOR_OSCURO: #0a3749;
    --COLOR_SECUNDARIO_1: #457d84;
    --COLOR_SECUNDARIO_2: #c0d8db;
    --COLOR_SECUNDARIO_3: #38b5a9;
    /* --DEGRADADO: linear-gradient(90deg, var(--COLOR_SECUNDARIO_3), var(--COLOR_PRINCIPAL));
    --DEGRADADOREVES: linear-gradient(90deg, var(--AZUL_CLARO), var(--COLOR_SECUNDARIO_3)); */
    --COLOR-MENU-HOVER:  #e6e6e6;
    --COLOR-MENU-TEXTO-HOVER: #272727;
    --COLOR-BARRA-LATERAL: #fff;
    --COLOR-BARRA-INFO: #0a3768;
    --COLOR-FONDO-BOTON: #38b5a9;
    --COLOR-SWITCH-BASE:#d7d7d7; 
    --COLOR-SWITCH-CIRCULO: #fff;
    --COLOR-FONDO-USUARIO: #d7d7d7;
    --COLOR-ICONO-USUARIO: #656565;
    --TEXTOS-BARRA-LATERAL: #0a3768;
    --COLOR-TEXTO-LOGOUT: #38b5a9;
    --COLOR-FONDO-LOGOUT: #0a3768;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sombra{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}


.contenedor-flex{
    display: flex;
    gap: 1.5em;
    height: 100% !important;
    flex: 1;
}

.contenedor-listado, .contenedor-agregar, .contenedor-editar{
    margin-right: 1%;
}

/*GENERAL PARA TODOS LOS SPANS*/
.barra-lateral span{
    margin-left: 7px;
    opacity: 1;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
    white-space: nowrap;
}

.contenedor-barra-lateral{
    min-height: 100vh;
}

.barra-lateral{
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.2);
    width: 240px;
    height: 100% !important;
    padding: 20px 15px;
    background-color: var(--COLOR-BARRA-LATERAL);
}

.mini-barra-lateral{
    width: 85px;
    height: 100%;
}

.barra-lateral .logo{
    width: 100%;
    height: 50px;
    display: flex;
    gap: .5em;
    align-items: center;
    overflow: hidden;
    margin-bottom: 40px;
}

.barra-lateral .logo svg{
    min-width: 50px;
    height: 99%;
    cursor: pointer;
    color: var(--TEXTOS-BARRA-LATERAL) !important;
}

.logo svg path, .logo svg circle {
    fill: var(--TEXTOS-BARRA-LATERAL); 
}

.barra-lateral .logo span{
    color: var(--TEXTOS-BARRA-LATERAL);
    text-align: left;
    font-weight: 700;
}

.barra-lateral span.oculto{
    opacity: 0;
    width: 0;
    margin: 0;
}

.barra-lateral .boton{
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    background-color: var(--COLOR-FONDO-BOTON);
    color: white;
    margin-bottom: 20px;
    text-decoration: none;
}

.barra-lateral .boton i{
    min-width: 30px;
    text-align: center;
}


/*-----------------------menú navegación -----------------------*/

.barra-lateral .navegacion ul{
    padding: 0;
}

.barra-lateral .navegacion li{
    list-style: none;
    display: flex;
    margin-bottom: 5px;
}

.barra-lateral .navegacion li a{
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
    color: var(--TEXTOS-BARRA-LATERAL);
    text-align: center;
}

.barra-lateral .navegacion li a:hover{
    background-color: var(--COLOR-MENU-HOVER) ;
    color: var(--COLOR-MENU-TEXTO-HOVER);
}
.barra-lateral .navegacion li a.active{
    color: var(--COLOR_SECUNDARIO_3);
    text-decoration: underline;
}

.barra-lateral .navegacion li a i{
    min-width: 50px;
    font-size: 20px;
}

.barra-lateral .linea{
    width: 100%;
    height: 2px;
    background-color: var(--COLOR-LINEA);
}


/*------------- MODO OSCURO -----------------------*/

.barra-lateral .modo-oscuro{
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.barra-lateral .modo-oscuro .info{
    width: 150px;
    height: 45px;
    display: flex;
    align-items: center;
    overflow: hidden;
    color: var(--COLOR-BARRA-INFO);
}

.barra-lateral .modo-oscuro .info i{
    text-align: center;
    width: 50px;
    font-size: 20px;
}

.barra-lateral .modo-oscuro .switch{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 7px;
    min-width: 60px;
    height: 45px;
    cursor: pointer;
}

.barra-lateral .modo-oscuro .base{
    position: relative;
    display: flex;
    align-items: center;
    width: 35px;
    height: 20px;
    background-color: var(--COLOR-SWITCH-BASE);
    border-radius: 50px;
}

.barra-lateral .modo-oscuro .circulo{
    position: absolute;
    width: 18px;
    height: 90%;
    background-color: var(--COLOR-SWITCH-CIRCULO);
    border-radius: 50%;
    left: 2px;
    transition: left .5s ease;
}

.barra-lateral .modo-oscuro .circulo.prendido{
    left: 15px;
}


/*USUARIO*/

.barra-lateral .usuario{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 45px;
    margin-top: 65%;
}

.barra-lateral .usuario .contenedor-icono-usuario{
    width: 40px;
    background-color: var(--COLOR-FONDO-USUARIO);
    border-radius: 50%;
    height: 50px;
    text-align: center;
    align-content: center;
    min-width: 50px;
}

.barra-lateral .usuario .contenedor-icono-usuario i{
    font-size: 20px;
    color: var(--COLOR-ICONO-USUARIO);
}


.barra-lateral .usuario .info-usuario{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--TEXTOS-BARRA-LATERAL);
    overflow: hidden;
}

.barra-lateral .usuario .nombre-email{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.barra-lateral .usuario .nombre-email .nombre{
    font-size: 15px;
    font-weight: 600;
}

.barra-lateral .usuario .nombre-email .email{
    font-size: 10px;
}


.logout{
    margin-top: 1.5em;
}

.logout .boton-logout{
    text-decoration: none;
    color: var(--COLOR-TEXTO-LOGOUT);
    /* background-color: var(--COLOR-FONDO-LOGOUT); */
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.logout .boton-logout i{
    min-width: 30px;
    text-align: center;
}

.logout .boton-logout span{
    font-weight: 600;
}

/*ESTILOS PARA EL PANEL GENERAL DE SECRETARIAS*/

.contenedor-panel-general{
    margin-left: 2em;
    margin-right: 3em;
    width: 100%;
}

.contenedor-panel-general h1{
    font-family: 'Montserrat', sans-serif;
    color: var(--COLOR_PRINCIPAL);
    font-weight: 600;
    margin-top: 1em;
    margin-bottom: 20px;
    font-size: 2.1em;
}

.contenedor-panel-general .botones-panel{
    margin-bottom: 20px;
    margin-top: 30px;
    display: flex;
    gap: 1em;
    width: 100%;
    align-items: right;
    justify-content: left;
}

.contenedor-panel-general a{
    background-color: var(--COLOR_PRINCIPAL);
    color: white;
    text-decoration: none;
    padding: 7px 10px;
    border-radius: 15px 0 ;
}

.contenedor-panel-general .generar-turnos{
    background: var(--COLOR_SECUNDARIO_3);
    /* margin-left: 700px; */
}

.contenedor-panel-general h4{
    font-family: 'Montserrat', sans-serif;
    color: var(--COLOR_PRINCIPAL);
}

.contenedor-panel-general table th{
    background-color: var(--COLOR_SECUNDARIO_3);
    color: white;
}

.contenedor-flex .contenedores-previews-medicos{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1em;
    padding-right: 3em;
    margin-top: 3em;
}

.contenedor-flex .listado-medicos-general{
    width: 55%;
}

.contenedor-flex .buscador-coberturas{
    width: 35%;
}


/* ESTILOS PARA EL SELECT DE BUSCAR COBERTURAS */
.select2-container .select2-selection--single {
    border: 1px solid #ced4da !important;
    border-radius: 10px 0 !important;
    height: 38px !important;
    padding: 2px;
    background-color: #ffffff;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #495057;
    line-height: 36px;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #999;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    width: 40px !important; 
    height: 38px !important;
    right: 0px !important;
    background-color: var(--COLOR_SECUNDARIO_3) !important;
    border-top-right-radius: 0;
    border-bottom-right-radius: 10px;
    color: #fff !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #fff transparent transparent transparent !important;
    border-width: 8px 6px 0 6px !important; 
}

.select2-container--default .select2-results__option {
    padding: 8px 12px;
}

.select2-container--default .select2-results__option--highlighted {
    background-color: #007bff;
    color: white;
}

.buscador-coberturas .listado-medicos-coberturas{
    margin-top: 2em;
}

.buscador-coberturas .listado-medicos-coberturas .medico-nombre-cobertura{
    margin-bottom: 1px;
}


.buscador-coberturas .listado-medicos-coberturas hr{
    height: 1px;
}



/*ESTILOS PARA EL BUSCADOR DE TURNOS DEL PANEL GENERAL*/

.listado-turnos-general{
    margin-top: 2em;
}

.listado-turnos-general table th{
    background-color: var(--COLOR_PRINCIPAL);
}


/*ESTILOS PARA CALENDARIO DE TURNOS*/

#calendar {
    flex: 1 !important;
    margin: 40px auto !important;
    padding: 20px !important;
    height: 100% !important;
    border: 1px solid #ddd !important;
    border-radius: 8px !important;
    background-color: #f9f9f9 !important;
    font-family: 'Montserrat', sans-serif !important;
}

.fc{
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}


.fc-button {
    background-color: var(--COLOR_SECUNDARIO_3) !important; 
    color: white !important;
    border: none !important;
    border-radius: 4px !important;
    margin: 0 5px !important;
}

.fc-button:hover {
    background-color: var(--COLOR_PRINCIPAL) !important;
}

.fc-button.fc-button-active {
    background-color: var(--COLOR_PRINCIPAL) !important;
    color: white !important;
}

/*estilos de los días de la semana*/
.fc-daygrid-day.fc-day-sun, .fc-daygrid-day.fc-day-sat {
    display: none !important; /* Ocultamos sábados y domingos */
}

.fc-col-header-cell-cushion {
    font-weight: bold !important;
    color: #4a5568 !important; /*color para los días de la semana*/
}

.fc-col-header-cell {
    background-color: var(--COLOR_PRINCIPAL) !important; 
    color: white;
}

.fc-col-header-cell-cushion{
    color: white !important;
    text-decoration: none !important;
}

/*estilo de las fechas del calendario*/
.fc-daygrid-day {
    color: #333 !important;
    font-size: 14px !important;
}

/* Título del calendario */
.fc-toolbar-title {
    font-size: 20px !important;
    font-weight: bold !important;
    color: #333 !important;
}

/* Fondo y bordes */
.fc-scrollgrid {
    border: 1px solid #e2e8f0 !important;
}



/*ESTILOS PARA EL CALENDARIO DE SECRETARIAS*/

.contenedor-calendario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

.contenedor-calendario .filtros-calendarios label{
    margin-right: 1em;
    color: white;
}

.contenedor-calendario form{
    border-radius: 10px;
}

.contenedor-calendario .filtros-calendarios{
    background-color: var(--COLOR_PRINCIPAL);
    padding: .5em 1em;
    margin-bottom: 1em;
}

.contenedor-calendario .filtros-turnos{
    padding: .3em .5em;
}

.contenedor-calendario .filtros-turnos label{
    margin-right: 1em;
}

/*Botones del alert*/
    /* Estilo para el botón "Agendar Turno" (Celeste) */
    .swal2-cancel {
        background-color: #28a745; /* Color verde para Confirmar Turno */
        border-color: #28a745;
    }

    .swal2-cancel:hover {
        background-color: #218838;
        border-color: #1e7e34;
    }

    /* Estilo para el botón "Agendar Turno" (Celeste) */
    .swal2-confirm {
        background-color: #17a2b8; /* Celeste */
        border-color: #17a2b8;
    }

    .swal2-confirm:hover {
        background-color: #138496; /* Celeste más oscuro */
        border-color: #117a8b;
    }

    /* Estilo para el botón "Cancelar" (Azul Oscuro) */
    .swal2-cancel-button {
        background-color: #343a40; /* Azul oscuro */
        border-color: #343a40;
    }

    .swal2-cancel-button:hover {
        background-color: #23272b; /* Azul oscuro más oscuro */
        border-color: #1d2124;
    }


/*FILTROS DE TURNOS*/
#filtroEstadoForm{
    margin-bottom: 2em;
}

#filtroEstadoForm label{
    margin-right: 1em;
}

#filtroEstadoForm .estado-confirmado{
    color: #218838;
}
#filtroEstadoForm .estado-reservado{
    color: #ff8a04;
    font-weight: 700;
}