* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

/* VARIABLES DE COLOR */

:root { 
    --COLOR_PRINCIPAL: #005b6f;
    --COLOR_OSCURO: #0a3749;
    --COLOR_SECUNDARIO_1: #457d84;
    --COLOR_SECUNDARIO_2: #c0d8db;
    /* --DEGRADADO: linear-gradient(90deg, var(--VERDE_AGUA), var(--AZUL_CLARO));
    --DEGRADADOREVES: linear-gradient(90deg, var(--AZUL_CLARO), var(--VERDE_AGUA)); */
}

/*GENERAL*/

.contenedor-listado-usuarios{
    margin-right: 1%;
    padding: 20px;
    padding-left: 3em;
    width: 75%;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: var(--COLOR_PRINCIPAL);
    border: none;
    border-radius: 10px;
    text-decoration: none; 
    transition: all .3s ease;
}

.btn:hover {
    background-color: var(--COLOR_SECUNDARIO_2);
    color: var(--COLOR_PRINCIPAL);
    cursor: pointer;
}

h1 {
    margin: 2% 0 4% 0;
    color: var(--COLOR_PRINCIPAL);
    font-weight: 650;
}


.btn-sombreado{
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 16px;
    border-radius: 0.5em;
    background: #e8e8e8;
    cursor: pointer;
    border: 1px solid #e8e8e8;
    transition: all 0.3s;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
    margin-right: 1em;
}

.btn-sombreado:active{
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.btn-sombreado:hover{
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

