* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

/* Tipografía importada */
@font-face {
    font-family: 'Isadora';
    src: url('../fuentes/IsidoraSans-Medium.ttf') format('truetype');
}  

/* VARIABLES DE COLOR */

:root { 
    --COLOR_PRINCIPAL: #005b6f;
    --COLOR_OSCURO: #0a3749;
    --COLOR_SECUNDARIO_1: #457d84;
    --COLOR_SECUNDARIO_2: #c0d8db;
    --COLOR_SECUNDARIO_3: #38b5a9;
    /* --DEGRADADO: linear-gradient(90deg, var(--VERDE_AGUA), var(--AZUL_CLARO));
    --DEGRADADOREVES: linear-gradient(90deg, var(--AZUL_CLARO), var(--VERDE_AGUA)); */
    --COLOR-MENU-HOVER:  #e6e6e6;
    --COLOR-MENU-TEXTO-HOVER: #272727;
    --COLOR-BARRA-LATERAL: #fff;
    --COLOR-BARRA-INFO: #0a3768;
    --COLOR-FONDO-BOTON: #38b5a9;
    --COLOR-SWITCH-BASE:#d7d7d7; 
    --COLOR-SWITCH-CIRCULO: #fff;
    --COLOR-FONDO-USUARIO: #d7d7d7;
    --COLOR-ICONO-USUARIO: #656565;
    --TEXTOS-BARRA-LATERAL: #0a3768;
    --COLOR-TEXTO-LOGOUT: #38b5a9;
    --COLOR-FONDO-LOGOUT: #0a3768;
}

/*GENERAL*/

.contenedor-flex{
    display: flex;
    gap: 1.5em;
    height: 100% !important;
    flex: 1;
}

.contenedor-listado, .contenedor-agregar, .contenedor-editar{
    flex: 1;
    margin-right: 1%;
}

.contenedor-listado-usuarios{
    margin-right: 1%;
    padding: 20px;
    padding-left: 3em;
    width: 75%;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: var(--COLOR_PRINCIPAL);
    border: none;
    border-radius: 10px;
    text-decoration: none; 
    transition: all .3s ease;
}

.btn:hover {
    background-color: var(--COLOR_SECUNDARIO_2);
    color: var(--COLOR_PRINCIPAL);
    cursor: pointer;
}

h1 {
    margin: 2% 0 4% 0;
    color: var(--COLOR_PRINCIPAL);
    font-weight: 650;
    text-align: left;
    width: 100%;
}


.btn-sombreado{
    color: var(--COLOR_OSCURO);
    font-weight: 500;
    padding: 0.7em 1.7em;
    font-size: 16px;
    border-radius: 0.5em;
    background: #e8e8e8;
    cursor: pointer;
    border: 1px solid #e8e8e8;
    transition: all 0.3s;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
    margin-right: 1em;
}

.btn-sombreado:active{
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.btn-sombreado:hover{
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.btn-editar{
    font-weight: 700;
    color: var(--COLOR_PRINCIPAL);
    text-decoration: none;
    transition: all .3s ease;
}

.btn-editar:hover{
    color: var(--COLOR_SECUNDARIO_3);
}


.btn-editar i{
    margin-right: 5px;
}

.btn-eliminar{
    font-weight: 600;
    color: red;
    transition: all .3s ease;
    border: none;
    background: none;
}
.btn-eliminar i{
    margin-left: 20px;
    font-size: 20px;
}
.btn-eliminar:hover{
    cursor: pointer;
    color: rgb(158, 0, 0);
}


.btn-crear {
    background-color: var(--COLOR_PRINCIPAL);
    color: #fff;
    width: 200px;
    height: 40px;
    border: var(--COLOR_PRINCIPAL) 2px solid;
    border-radius: 11px;
    text-align: right;
    transition: all 0.6s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    text-decoration: none; 
    margin-top: 2em;
  }
  
  .btn-crear:hover {
    background-color: transparent;
    color: var(--COLOR_PRINCIPAL);
  }
  
  .btn-crear svg {
    width: 1.6em;
    margin: -0.2em 0.8em 1em;
    margin-bottom: 0 !important;
    position: absolute;
    display: flex;
    transition: all 0.6s ease;
  }
  
  .btn-crear:hover svg {
    transform: translateX(5px);
  }
  
  .btn-crear .text {
    margin-left: 3em;
    font-weight: 500;
  }
  
  .container .btn-guardar{
    background-color: var(--COLOR_SECUNDARIO_3);
    transition: all .3s;
    color: white;
    font-weight: 500;
    margin-right: 2em;
    font-size: 18px;
    width: 150px;
}

.container .btn-guardar:hover{
    background-color: var(--COLOR_SECUNDARIO_2);
    color: var(--COLOR_PRINCIPAL);
}

.container .btn-cancelar{
    border: 2px solid var(--COLOR_SECUNDARIO_3);
    transition: all .3s;
    background-color: white;
    color: var(--COLOR_PRINCIPAL);
    font-weight: 500;
    font-size: 18px;
    width: 150px;
    text-align: center;
    text-decoration: none;
}

.container .btn-cancelar:hover{
    background-color: #c6c6c6;
}

.container .btn-cancelar a{
    text-decoration: none;
    color: var(--COLOR_SECUNDARIO_3);
}

/* FORMULARIOS */
select{
    width: 100% !important;
    height: 50px;
    border: 2px solid #ccc; 
    border-radius: 4px;
    padding: 13px 12px; 
    font-size: 14px; 
}

.form-group select:focus {
    outline: none; 
    border-color: #007bff; 
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.25); 
}

.form-group label {
    position: absolute;
    top: -8px;
    left: 12px;
    background-color: white;
    padding: 0 10px;
    font-size: 14px;
    color: #555;
    font-weight: 400;
    z-index: 1;
}

.form-group input {
    width: 100%;
    border: 2px solid #ccc; 
    border-radius: 4px;
    padding: 13px 12px; 
    font-size: 14px; 
    box-sizing: border-box;
}

.form-group {
    position: relative;
    display: flex;
    flex-direction: column; /*para que el label aparezca después del input*/
    margin-top: 16px; 
}

.form-group textarea {
    font-family: 'Montserrat', 'sans-serif'; 
    font-size: 16px;
    line-height: 1.5;
    width: 100%;
    max-width: 100%; 
    border: 2px solid #ccc; 
    border-radius: 4px;
    padding: 13px 12px; 
    font-size: 14px; 
    box-sizing: border-box; 
    resize: vertical; 
}

.row {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 1rem;
    gap: 4em;
}

.col-md-12{
    flex: 0 100%;
    max-width: 100%;
    width: 100%;
    padding: 0 ;
}

.col-md-6 {
    flex: 0 50%;
    max-width: 50%;
    padding: 0;
}

.col-md-4 {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
    padding: 0;
}

.col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 ;
}

/* --------------------------- BARRA LATERAL PANEL ADMIN ------------------------------- */

.barra-lateral span{
    margin-left: 7px;
    opacity: 1;
    transition: opacity .3s ease, width .3s ease;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
    white-space: nowrap;
}

.contenedor-barra-lateral{
    min-height: 100vh;
}

.barra-lateral{
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.2);
    width: 240px;
    height: 100% !important;
    padding: 20px 15px;
    background-color: var(--COLOR-BARRA-LATERAL);
}

.mini-barra-lateral{
    width: 85px;
    height: 100%;
}

.barra-lateral .logo{
    width: 100%;
    height: 80px;
    display: flex;
    gap: .2em;
    align-items: center;
    overflow: hidden;
    margin-bottom: 40px;
}

.barra-lateral #icono{
    width: 60px;
}

.barra-lateral .logo svg{
    min-width: 40px;
    height: 100%;
    cursor: pointer;
    color: var(--TEXTOS-BARRA-LATERAL) !important;
}

.logo svg path, .logo svg circle {
    fill: var(--TEXTOS-BARRA-LATERAL); 
}

.barra-lateral .logo span{
    color: var(--TEXTOS-BARRA-LATERAL);
    text-align: left;
    font-family: 'Isadora', sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.barra-lateral span.oculto{
    opacity: 0;
    width: 0;
    margin: 0;
}


.barra-lateral .boton{
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    background-color: var(--COLOR-FONDO-BOTON);
    color: white;
    margin-bottom: 20px;
    text-decoration: none;
    transition: all .3s ease;
}
.barra-lateral .boton:hover{
    background-color: var(--COLOR_PRINCIPAL);
    color: white;
}

.barra-lateral .boton i{
    min-width: 30px;
    text-align: center;
}


/*-----------------------menú navegación -----------------------*/

.barra-lateral .navegacion ul{
    padding: 0;
}

.barra-lateral .navegacion li{
    list-style: none;
    display: flex;
    margin-bottom: 5px;
}

.barra-lateral .navegacion li a{
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
    color: var(--TEXTOS-BARRA-LATERAL);
    text-align: center;
}

.barra-lateral .navegacion li a:hover{
    background-color: var(--COLOR-MENU-HOVER) ;
    color: var(--COLOR-MENU-TEXTO-HOVER);
}
.barra-lateral .navegacion li a.active{
    color: var(--COLOR-FONDO-BOTON);
    font-weight: 600;
}

.barra-lateral .navegacion li a i{
    min-width: 50px;
    font-size: 20px;
}

.barra-lateral .linea{
    width: 100%;
    height: 2px;
    background-color: var(--COLOR-LINEA);
}


/*------------- MODO OSCURO -----------------------*/

.barra-lateral .modo-oscuro{
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.barra-lateral .modo-oscuro .info{
    width: 150px;
    height: 45px;
    display: flex;
    align-items: center;
    overflow: hidden;
    color: var(--COLOR-BARRA-INFO);
}

.barra-lateral .modo-oscuro .info i{
    text-align: center;
    width: 50px;
    font-size: 20px;
}

.barra-lateral .modo-oscuro .switch{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 7px;
    min-width: 60px;
    height: 45px;
    cursor: pointer;
}

.barra-lateral .modo-oscuro .base{
    position: relative;
    display: flex;
    align-items: center;
    width: 35px;
    height: 20px;
    background-color: var(--COLOR-SWITCH-BASE);
    border-radius: 50px;
}

.barra-lateral .modo-oscuro .circulo{
    position: absolute;
    width: 18px;
    height: 90%;
    background-color: var(--COLOR-SWITCH-CIRCULO);
    border-radius: 50%;
    left: 2px;
    transition: left .5s ease;
}

.barra-lateral .modo-oscuro .circulo.prendido{
    left: 15px;
}


/*USUARIO*/

.barra-lateral .usuario{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 45px;
    margin-top: 65%;
}

.barra-lateral .usuario .contenedor-icono-usuario{
    width: 40px;
    background-color: var(--COLOR-FONDO-USUARIO);
    border-radius: 50%;
    height: 50px;
    text-align: center;
    align-content: center;
    min-width: 50px;
}

.barra-lateral .usuario .contenedor-icono-usuario i{
    font-size: 20px;
    color: var(--COLOR-ICONO-USUARIO);
}


.barra-lateral .usuario .info-usuario{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--TEXTOS-BARRA-LATERAL);
    overflow: hidden;
}

.barra-lateral .usuario .nombre-email{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.barra-lateral .usuario .nombre-email .nombre{
    font-size: 15px;
    font-weight: 600;
}

.barra-lateral .usuario .nombre-email .email{
    font-size: 10px;
}


.logout{
    margin-top: 1.5em;
}

.logout .boton-logout{
    text-decoration: none;
    color: var(--COLOR-TEXTO-LOGOUT);
    /* background-color: var(--COLOR-FONDO-LOGOUT); */
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.logout .boton-logout i{
    min-width: 30px;
    text-align: center;
}

.logout .boton-logout span{
    font-weight: 600;
}


/* From Uiverse.io by shah1345 */ 
.btn-wave {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #090909;
    padding: 0.7em 1.7em;
    cursor: pointer;
    font-size: 18px;
    border-radius: 0.5em;
    border: 1px solid #e8e8e8;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
    margin-top: 2em;
  }

  .btn-wave a{
    text-decoration: none;
    color: var(--COLOR_SECUNDARIO_3);
    font-weight: 600;
    transition: all .3s ease;
    font-size: 18px;
  }
  .btn-wave a:hover{
    color: white
  } 
  .btn-wave:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
  }
  
  .btn-wave:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .btn-wave:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #009087;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .btn-wave:hover {
    color: #ffffff;
    border: 1px solid #009087;
  }
  
  .btn-wave:hover:before {
    top: -35%;
    background-color: #009087;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .btn-wave:hover:after {
    top: -45%;
    background-color: #009087;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  /*GENERAL*/
.botones{
    margin-top: 2em;
    display: flex;
    justify-content: center;
    gap: 1em;
}
.botones .btn-cancelar{
    background-color: white;
    border: 2px solid #005b6f;
    color: var(--COLOR_PRINCIPAL);
}
.botones .btn-cancelar:hover{
    color: white;
    background-color: rgb(178, 0, 0);
}

.icono-editar{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 7px;
    background-color: var(--COLOR_SECUNDARIO_3);
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: all .3s ease;
    margin-right: 5px;
}
.icono-editar:hover{
    background-color: var(--COLOR_PRINCIPAL);
}

.icono-eliminar{
    border: none;
    background: none;
    color: rgb(240, 0, 0);
    font-size: 18px;
    transition: all .3s ease;
}
.icono-eliminar:hover{
    cursor: pointer;
    color: rgb(150, 0, 0);
}

/* Botón Volver */
.btn-volver {
    background-color: var(--COLOR_PRINCIPAL);
    transition: background-color 0.3s ease-in-out;
    align-content: center;
}

.btn-volver:hover {
    background-color: var(--COLOR_SECUNDARIO_3);
}