/* VARIABLES DE COLOR*/

:root { 
    --COLOR_PRINCIPAL: #005b6f;
    --COLOR_OSCURO: #0a3749;
    --COLOR_SECUNDARIO_1: #457d84;
    --COLOR_SECUNDARIO_2: #c0d8db;
    /* --DEGRADADO: linear-gradient(90deg, var(--VERDE_AGUA), var(--AZUL_CLARO));
    --DEGRADADOREVES: linear-gradient(90deg, var(--AZUL_CLARO), var(--VERDE_AGUA)); */
}

/*Tabla listado de usuarios*/

.tabla-listado-usuarios {
    width: 100%;
    border-collapse: separate;
    background-color: #fff;
    border-spacing: 0 15px;
}

.tabla-listado-usuarios thead {
    background-color: #f4f4f4;
    color: #333;
    font-weight: bold;
    text-align: left;
    border-radius: 8px 8px 0 0;
    text-transform: uppercase;
}

.tabla-listado-usuarios th,
.tabla-listado-usuarios td {
    padding: 12px 20px;
    text-align: left;
}

.tabla-listado-usuarios tbody tr {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    height: 70px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-bottom: 2em;
}

/* Estilo para las celdas */
.tabla-listado-usuarios td {
    border-bottom: 1px solid #eee;
}

/* Botones dentro de las celdas */
.tabla-listado-usuarios button {
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    transition: all .3s ease;
    font-size: 22px;
    margin-right: 16px;
}

