/* VARIABLES DE COLOR*/

:root { 
    --COLOR_PRINCIPAL: #005b6f;
    --COLOR_OSCURO: #0a3749;
    --COLOR_SECUNDARIO_1: #457d84;
    --COLOR_SECUNDARIO_2: #c0d8db;
    --COLOR_SECUNDARIO_3: #01aed9;
    /* --DEGRADADO: linear-gradient(90deg, var(--VERDE_AGUA), var(--AZUL_CLARO));
    --DEGRADADOREVES: linear-gradient(90deg, var(--AZUL_CLARO), var(--VERDE_AGUA)); */
}

/*Tabla listado de usuarios*/

.tabla-listado-usuarios {
    width: 100%;
    border-collapse: separate;
    background-color: #fff;
    border-spacing: 0 15px;
}

.tabla-listado-usuarios thead {
    color: #333;
    font-weight: bold;
    text-align: left;
    border-radius: 8px 8px 0 0;
    text-transform: uppercase;
}

.tabla-listado-usuarios th,
.tabla-listado-usuarios td {
    padding: 12px 20px;
    text-align: left;
}

.tabla-listado-usuarios tbody{
    align-content: center;
}

.tabla-listado-usuarios tbody tr {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    height: 70px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-bottom: 2em;
}

/* Estilo para las celdas */
.tabla-listado-usuarios td {
    border-bottom: 1px solid #eee;
}

/* Botones dentro de las celdas */
.tabla-listado-usuarios button {
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    transition: all .3s ease;
    font-size: 22px;
    margin-right: 16px;
}


/* -------------- AGREGAR USUARIO ---------------- */

.contenedor-editar, .contenedor-agregar{
    margin-left: 2em;
}

.contenedor-formulario-insertar, .contenedor-formulario-editar{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: left;
    width: 100%;
}

.contenedor-formulario-insertar .formulario-insertar{
    width: 45%;
    margin-bottom: 2%;
}

.formulario-insertar label{
    margin-bottom: .5em;
}


/* --------------- EDITAR USUARIO -------------------------- */
.contenedor-formulario-editar .formulario-editar{
    width: 45%;
    margin-bottom: 2%;
}


/* -- LOGIN DE USUARIOS -- */
.contenedor-login{
    display: flex;
    justify-content: space-between;
    padding-right: 2em;
}

.contenedor-login .login-box{
    width: 60%;
    align-content: center;
    z-index: 1000;
}

#formularioRecuperarContraseña{
    width: 60%;
}

#formularioRecuperarContraseña button{
    margin-top: 1em;
}

#formularioRecuperarContraseña .input-icono {
    position: relative;
}

#formularioRecuperarContraseña .input-icono i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--COLOR_SECUNDARIO_3);
}

#formularioRecuperarContraseña .input-icono input {
    padding-left: 35px;
}

#togglePassword {
    position: absolute;
    right: 12px; 
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px; 
    color: #555;
}

/* ------- RECUPERAR CONTRASEÑA ------------ */

.contenedor-logo-lateral{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.texto-bienvenida{
    height: 100vh;
    width: 100%;
    position: relative;
    align-content: center;
    padding-left: 70px;
    z-index: 1000;
    background: var(--COLOR_PRINCIPAL);
}

.texto-bienvenida h4{
    color: white;
    font-size: 20px;
    margin-left: 30px;
    font-weight: 500;
    width: max-content;
}

.contenedor-logo-lateral .logo{
    width: 400px;
    height: 100px;
    background-image: url("/public/img/logo-claro-coch.png");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1000;
}

#fondoWave {
    position: absolute;
    right: 90%; 
    bottom: 0; 
    width: 100vw;
    height: 100%;
    transform: rotate(90deg); 
    transform-origin: bottom right; 
    z-index: 0;
}