/* VARIABLES DE COLOR */

:root { 
    --COLOR_PRINCIPAL: #005b6f;
    --COLOR_OSCURO: #0a3749;
    --COLOR_SECUNDARIO_1: #457d84;
    --COLOR_SECUNDARIO_2: #c0d8db;
    --COLOR_SECUNDARIO_3: #38b5a9;
    /* --DEGRADADO: linear-gradient(90deg, var(--COLOR_SECUNDARIO_3), var(--COLOR_PRINCIPAL));
    --DEGRADADOREVES: linear-gradient(90deg, var(--AZUL_CLARO), var(--COLOR_SECUNDARIO_3)); */
    --COLOR-MENU-HOVER:  #e6e6e6;
    --COLOR-MENU-TEXTO-HOVER: #272727;
    --COLOR-BARRA-LATERAL: #fff;
    --COLOR-BARRA-INFO: #0a3768;
    --COLOR-FONDO-BOTON: #38b5a9;
    --COLOR-SWITCH-BASE:#d7d7d7; 
    --COLOR-SWITCH-CIRCULO: #fff;
    --COLOR-FONDO-USUARIO: #d7d7d7;
    --COLOR-ICONO-USUARIO: #656565;
    --TEXTOS-BARRA-LATERAL: #0a3768;
    --COLOR-TEXTO-LOGOUT: #38b5a9;
    --COLOR-FONDO-LOGOUT: #0a3768;
}


/* -- BARRA LATERAL -- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sombra{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: var(--COLOR_PRINCIPAL);
    border: none;
    border-radius: 10px;
    text-decoration: none; 
    transition: all .3s ease;
    align-content: center;
    text-align: center;
}

.btn:hover {
    background-color: var(--COLOR_SECUNDARIO_2);
    color: var(--COLOR_PRINCIPAL);
    cursor: pointer;
}


.contenedor-flex{
    display: flex;
    gap: 1.5em;
    height: 100% !important;
    flex: 1;
}

.contenedor-listado, .contenedor-agregar, .contenedor-editar{
    margin-right: 1%;
}

/*GENERAL PARA TODOS LOS SPANS*/
.barra-lateral span{
    margin-left: 7px;
    opacity: 1;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
    white-space: nowrap;
}

.contenedor-barra-lateral{
    min-height: 100vh;
}

.barra-lateral{
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.2);
    width: 240px;
    height: 100% !important;
    padding: 20px 15px;
    background-color: var(--COLOR-BARRA-LATERAL);
}

.mini-barra-lateral{
    width: 85px;
    height: 100%;
}

.barra-lateral .logo{
    width: 100%;
    height: 50px;
    display: flex;
    gap: .5em;
    align-items: center;
    overflow: hidden;
    margin-bottom: 40px;
}

.barra-lateral .logo svg{
    min-width: 50px;
    height: 99%;
    cursor: pointer;
    color: var(--TEXTOS-BARRA-LATERAL) !important;
}

.logo svg path, .logo svg circle {
    fill: var(--TEXTOS-BARRA-LATERAL); 
}

.barra-lateral .logo span{
    color: var(--TEXTOS-BARRA-LATERAL);
    text-align: left;
    font-weight: 700;
}

.barra-lateral span.oculto{
    opacity: 0;
    width: 0;
    margin: 0;
}

.barra-lateral .boton{
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    background-color: var(--COLOR-FONDO-BOTON);
    color: white;
    margin-bottom: 20px;
    text-decoration: none;
}

.barra-lateral .boton i{
    min-width: 30px;
    text-align: center;
}


/*-----------------------menú navegación -----------------------*/

.barra-lateral .navegacion ul{
    padding: 0;
}

.barra-lateral .navegacion li{
    list-style: none;
    display: flex;
    margin-bottom: 5px;
}

.barra-lateral .navegacion li a{
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
    color: var(--TEXTOS-BARRA-LATERAL);
    text-align: center;
}

.barra-lateral .navegacion li a:hover{
    background-color: var(--COLOR-MENU-HOVER) ;
    color: var(--COLOR-MENU-TEXTO-HOVER);
}
.barra-lateral .navegacion li a.active{
    color: var(--COLOR_SECUNDARIO_3);
    text-decoration: underline;
}

.barra-lateral .navegacion li a i{
    min-width: 50px;
    font-size: 20px;
}

.barra-lateral .linea{
    width: 100%;
    height: 2px;
    background-color: var(--COLOR-LINEA);
}


/*------------- MODO OSCURO -----------------------*/

.barra-lateral .modo-oscuro{
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.barra-lateral .modo-oscuro .info{
    width: 150px;
    height: 45px;
    display: flex;
    align-items: center;
    overflow: hidden;
    color: var(--COLOR-BARRA-INFO);
}

.barra-lateral .modo-oscuro .info i{
    text-align: center;
    width: 50px;
    font-size: 20px;
}

.barra-lateral .modo-oscuro .switch{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 7px;
    min-width: 60px;
    height: 45px;
    cursor: pointer;
}

.barra-lateral .modo-oscuro .base{
    position: relative;
    display: flex;
    align-items: center;
    width: 35px;
    height: 20px;
    background-color: var(--COLOR-SWITCH-BASE);
    border-radius: 50px;
}

.barra-lateral .modo-oscuro .circulo{
    position: absolute;
    width: 18px;
    height: 90%;
    background-color: var(--COLOR-SWITCH-CIRCULO);
    border-radius: 50%;
    left: 2px;
    transition: left .5s ease;
}

.barra-lateral .modo-oscuro .circulo.prendido{
    left: 15px;
}


/*USUARIO*/

.barra-lateral .usuario{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 45px;
}

.barra-lateral .usuario .contenedor-icono-usuario{
    width: 40px;
    background-color: var(--COLOR-FONDO-USUARIO);
    border-radius: 50%;
    height: 50px;
    text-align: center;
    align-content: center;
    min-width: 50px;
}

.barra-lateral .usuario .contenedor-icono-usuario i{
    font-size: 20px;
    color: var(--COLOR-ICONO-USUARIO);
}


.barra-lateral .usuario .info-usuario{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--TEXTOS-BARRA-LATERAL);
    overflow: hidden;
}

.barra-lateral .usuario .nombre-email{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.barra-lateral .usuario .nombre-email .nombre{
    font-size: 15px;
    font-weight: 600;
}

.barra-lateral .usuario .nombre-email .email{
    font-size: 10px;
}

.logout{
    text-align: center;
    margin-top: 1em;
}

.btn-logout{
    text-decoration: none;
    color: var(--COLOR_PRINCIPAL);
    font-weight: 600;
}

.barra-lateral .div-inferior{
    margin-top: 100% !important;
}

/* PANEL PACIENTES GENERAL ------------------------------------------------------------------------- */

.contenedor-panel-general{
    padding-top: 2em;
    padding-left: 3em;
    width: 80%;
}

.contenedor-panel-general .div-superior{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.contenedor-tabla-turnos {
    overflow-x: auto;
    width: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    background-color: white;
    margin-top: 2em;
}

.tabla-turnos-general {
    width: 100%;
    border-collapse: collapse;
    border-radius: 12px;
    overflow: hidden;
    font-family: 'Segoe UI', sans-serif;
}

.tabla-turnos-general thead {
    color: var(--COLOR_PRINCIPAL);
    text-transform: uppercase;
}

.tabla-turnos-general th,
.tabla-turnos-general td {
    padding: 15px 20px;
    text-align: left;
    font-size: 0.95rem;
}

.tabla-turnos-general tbody tr {
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s ease;
}

.tabla-turnos-general tbody tr:hover {
    background-color: #f1f9fc;
}

.tabla-turnos-general td {
    color: #333;
}

/*---- Nuevo turno ---- */

.pedirTurnoPanel{
    width: 100%;
}