<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../commons/head-web') %>
    <title>Ayuda</title>
    <link rel="icon" href="/public/img/Icono redondeado CMV .png" type="image/x-icon">
    <link rel="stylesheet" href="/public/css/web/pedir-turno.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


<body>
    
    <!-- Menú de navegación -->
    <%- include('../commons/menu-web') %>

    <div class="contenedor-texto">
        <h1>Pasos para pedir un turno</h1>
        <p>Sigue estos pasos para solicitar un turno de manera sencilla y rápida desde nuestra web.</p>
    </div>

    <div class="contenedor-diagrama">

        <div class="container-paso">
            <div class="numero">1</div>
            <div class="contenido">
                <h2>Ingresar a "Pedir Turno"</h2>
                <p> -En la esquina superior derecha, haz click en el botón de "Pedir Turno".</p>
            </div>
        </div>
        <div class="container-paso">
            <div class="numero">2</div>
            <div class="contenido">
                <h2>Elegir una fecha</h2>
                <p> -Al ingresar al formulario, seleccionar la fecha en la que desea solicitar un turno.</p>
                <img src="/public/img/paso2.png" alt="img-paso2" class="sombra">
            </div>
        </div>
        <div class="container-paso">
            <div class="numero">3</div>
            <div class="contenido">
                <h2>Seleccionar especialidad</h2>
                <p> -Seleccionar la especialidad del profesional por el cual quiere ser atendido.</p>
                <img src="/public/img/paso3.png" alt="img-paso3" class="sombra">
            </div>
        </div>
        <div class="container-paso">
            <div class="numero">4</div>
            <div class="contenido">
                <h2>Seleccionar médico</h2>
                <p> -Seleccionar el profesional con el cual desea solicitar un turno.</p>
                <img src="/public/img/paso4.png" alt="img-paso4" class="sombra">
            </div>
        </div>
        <div class="container-paso">
            <div class="numero">5</div>
            <div class="contenido">
                <h2>Seleccionar servicio</h2>
                <p> -Seleccionar el servicio que desea realizarse, ya sea consulta o practica específica.</p>
                <img src="/public/img/paso5.png" alt="img-paso5" class="sombra">
            </div>
        </div>
        <div class="container-paso">
            <div class="numero">6</div>
            <div class="contenido">
                <h2>Completar datos personales</h2>
                <p> -Una vez seleccionados los datos del turno, completar el formulario de datos personales.</p>
            </div>
        </div>
        <div class="container-paso">
            <div class="numero">7</div>
            <div class="contenido">
                <h2>Confirmar turno</h2>
                <p> -Por último, clickear el boton "Confirmar Turno"</p>
            </div>
        </div>


    </div> 

      
    <!--FOOTER-->
    <%- include('../commons/footer-web') %>

</body>