<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../commons/head-web') %>
    <title>Contacto</title>
    <link rel="stylesheet" href="/public/css/web/contacto.css">
</head>


<body>
    <!-- Menú de navegación -->
    <%- include('../commons/menu-web') %>
        
        <div class="carrusel-contacto">
            
        </div>
    
        <form action="/pedirTurno" method="GET" class="form-turno">
            <div class="container-reserva sombra">
                <h2>Ahora podes reservar tu turno online</h2>
                <button type="submit" class="boton-turno">Pedir Turno</button>
            </div>
    
            <div class="container-turno sombra">
                <h3>Encontranos en</h3>
                <div class="iconos-redes-contacto">
                    <div class="iconos-container">
                        <a href="https://wa.me/2324652338" target="blank" class="icono-red-contacto whatsapp">
                            <i class="fa-brands fa-whatsapp"></i>
                        </a>
                        <a href="https://www.instagram.com/centromedicovillarino" target="blank" class="icono-red-contacto instagram">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                        <a href="https://www.facebook.com/profile.php?id=61557067552824" target="blank" class="icono-red-contacto facebook">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                    </div>
                </div>
            </div>
        </form>
    
    
    <!--FOOTER-->
    <%- include('../commons/footer-web') %>

    <a href="https://wa.me/2324652338" target="_blank" class="boton-flotante-wsp" id="botonFlotante" style="display: none;">
        <i class="fa-brands fa-whatsapp"></i>
    </a>

    <script>
        window.addEventListener("scroll", function() {
            var botonFlotante = document.getElementById("botonFlotante");
    
            // Mostrar el botón cuando el usuario haya hecho scroll más de 200px
            if (window.scrollY > 200) {
                botonFlotante.style.display = "block"; // Muestra el botón
            } else {
                botonFlotante.style.display = "none"; // Oculta el botón
            }
        });
    </script>
    
</body>