* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

/* Tipografía importada */
@font-face {
    font-family: 'Isadora';
    src: url('../fuentes/IsidoraSans-Medium.ttf') format('truetype');
}  

/* VARIABLES DE COLOR */

:root { 
    --COLOR_PRINCIPAL: #005b6f;
    --COLOR_OSCURO: #0a3749;
    --COLOR_SECUNDARIO_1: #457d84;
    --COLOR_SECUNDARIO_2: #c0d8db;
    --COLOR_SECUNDARIO_3: #38b5a9;
    /* --DEGRADADO: linear-gradient(90deg, var(--VERDE_AGUA), var(--AZUL_CLARO));
    --DEGRADADOREVES: linear-gradient(90deg, var(--AZUL_CLARO), var(--VERDE_AGUA)); */
    --COLOR-MENU-HOVER:  #e6e6e6;
    --COLOR-MENU-TEXTO-HOVER: #272727;
    --COLOR-BARRA-LATERAL: #fff;
    --COLOR-BARRA-INFO: #0a3768;
    --COLOR-FONDO-BOTON: #38b5a9;
    --COLOR-SWITCH-BASE:#d7d7d7; 
    --COLOR-SWITCH-CIRCULO: #fff;
    --COLOR-FONDO-USUARIO: #d7d7d7;
    --COLOR-ICONO-USUARIO: #656565;
    --TEXTOS-BARRA-LATERAL: #0a3768;
    --COLOR-TEXTO-LOGOUT: #38b5a9;
    --COLOR-FONDO-LOGOUT: #0a3768;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: var(--COLOR_PRINCIPAL);
    border: none;
    border-radius: 10px;
    text-decoration: none; 
    transition: all .3s ease;
    align-content: center;
    text-align: center;
}

.btn:hover {
    background-color: var(--COLOR_SECUNDARIO_2);
    color: var(--COLOR_PRINCIPAL);
    cursor: pointer;
}

.sombra{
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    margin: 2% 0 4% 0;
    color: var(--COLOR_PRINCIPAL);
    font-weight: 650;
    text-align: left;
    width: 100%;
}

h2{
    color: var(--COLOR_PRINCIPAL);
}

.btn-sombreado{
    color: var(--COLOR_OSCURO);
    font-weight: 500;
    padding: 0.7em 1.7em;
    font-size: 16px;
    border-radius: 0.5em;
    background: #e8e8e8;
    cursor: pointer;
    border: 1px solid #e8e8e8;
    transition: all 0.3s;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
    margin-right: 1em;
}

.btn-sombreado:active{
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.btn-sombreado:hover{
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}


/* Botón efecto onda */
.btn-wave {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #090909;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 0.5em;
    border: 1px solid var(--COLOR_PRINCIPAL);
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
    margin-top: 2em;
    text-decoration: none;
    font-weight: 500;
    color: white;
    background-color:  #009087 !important;
  }

  .btn-wave a:hover{
    color: white
  } 
  .btn-wave:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
  }
  
  .btn-wave:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .btn-wave:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 100%;
    width: 160%;
    height: 190%;
    background-color: transparent;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .btn-wave:hover {
    color: #ffffff;
    border: 1px solid #009087;
  }
  
  .btn-wave:hover:before {
    top: -35%;
    background-color: #009087;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .btn-wave:hover:after {
    top: -45%;
    background-color: #009087;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }

.btn-wave:before,
.btn-wave:after {
  pointer-events: none !important;
  will-change: transform !important;
}


/* WAVE SVG */

.wave {
    position: absolute;
    bottom: -20%;
    left: 0;
    width: 100% !important;
    height: 100px;
    z-index: 0;
    transform: rotate(180deg); 
}

.wave svg {
  width: 100%;
  height: auto;
  display: block;
}

.wave-superior {
    position: absolute;
    top: -1px; 
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 0;
    pointer-events: none;
}



/* ------------------------ HEADER ------------------------- */

/* Header - menu de navegación */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(32, 65, 62, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-sizing: border-box;
    transition: top 0.3s, all .3s ease;
    overflow: hidden;
}

header.scrolled {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

header.scrolled .logo {
    background-image: url('/public/img/logo-oscuro-coch.png');
}

header.scrolled nav ul li a{
    color: var(--COLOR_PRINCIPAL);
}

/*ocultar el header */
.hidden {
    top: -100px; 
}

header .logo {
    width: 400px;
    height: 60px;
    background-image: url('/public/img/logo-claro-coch.png');
    background-size: contain;
    background-repeat: no-repeat;
}

header nav {
    width: 40%;
    display: flex;
    justify-content: center;
}

header nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    gap: 2em;
    width: 100%;
}

header nav ul li a {
    width: 3%;
    position: relative;
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
    transition: color 0.3s ease-in-out; /* Para suavizar la transición del color */
    color: white;
}

header nav ul li a.active::after {
    width: 100%; /* Mantiene la línea activa al ancho del enlace */
}

header nav ul li a.active {
    color: var(--COLOR_SECUNDARIO_3); /* Cambia el color del enlace activo */
}

header nav ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: .1em;
    background-color: var(--COLOR_SECUNDARIO_3);
    transition: width 0.3s ease-in-out; 
}

header nav ul li a:hover::after {
    width: 100%; /* Expande el subrayado de izquierda a derecha */
}

header nav ul li a:hover {
    color: white;
}

header.scrolled nav ul li a:hover{
    color: var(--COLOR_PRINCIPAL);
}

.menu-pedir-turno {
    color: white;
    margin-right: 50px;
    min-width: 100px;
    background: var(--COLOR_PRINCIPAL); 
    transition: all .3s ease; 
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

header .menu-pedir-turno:hover {
    background: var(--COLOR_SECUNDARIO_3); 
}

header .icon-menu{
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: var(--AZUL_CLARO);
}

.acciones-header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.acciones-header i{
    font-size: 30px;
    color: var(--COLOR_PRINCIPAL);
}

.acciones-header i:hover{
    color: var(--COLOR_SECUNDARIO_3);
}
.ingreso-pacientes:hover{
    color: var(--COLOR_SECUNDARIO_3);
}

.ingreso-pacientes{
    color: white;
    text-decoration: none;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: all .3s ease;
}

.ingreso-pacientes i{
    color: white;
    transition: all .3s ease;
}

header.scrolled .ingreso-pacientes i{
    color: var(--COLOR_PRINCIPAL);
}

header.scrolled .ingreso-pacientes{
    text-decoration: none;
    color: var(--COLOR_PRINCIPAL);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: all .3s ease;
}


/* FORMULARIOS */
select{
    width: 100% !important;
    height: 50px;
    border: 2px solid #ccc; 
    border-radius: 4px;
    padding: 13px 12px; 
    font-size: 14px; 
}

.form-group select:focus {
    outline: none; 
    border-color: #007bff; 
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.25); 
}

.form-group label {
    position: absolute;
    top: -8px;
    left: 12px;
    background-color: white;
    padding: 0 10px;
    font-size: 14px;
    color: #555;
    font-weight: 400;
    z-index: 1;
}

.form-group input {
    width: 100%;
    border: 2px solid #ccc; 
    border-radius: 4px;
    padding: 13px 12px; 
    font-size: 14px; 
    box-sizing: border-box;
}

.form-group {
    position: relative;
    display: flex;
    flex-direction: column; /*para que el label aparezca después del input*/
    margin-top: 16px; 
}

.form-group textarea {
    font-family: 'Montserrat', 'sans-serif'; 
    font-size: 16px;
    line-height: 1.5;
    width: 100%;
    max-width: 100%; 
    border: 2px solid #ccc; 
    border-radius: 4px;
    padding: 13px 12px; 
    font-size: 14px; 
    box-sizing: border-box; 
    resize: vertical; 
    transition: border-color 0.3s ease; 
}

.form-group textarea:focus{
    border-color: var(--COLOR_SECUNDARIO_3);
    outline: none;
}

.row {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 1rem;
    gap: 4em;
}

.col-md-12{
    flex: 0 100%;
    max-width: 100%;
    width: 100%;
    padding: 0 ;
}

.col-md-6 {
    flex: 0 50%;
    max-width: 50%;
    padding: 0;
}

.col-md-4 {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
    padding: 0;
}

.col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 ;
}