:root { 
    --COLOR_PRINCIPAL: #005b6f;
    --COLOR_OSCURO: #0a3749;
    --COLOR_SECUNDARIO_1: #457d84;
    --COLOR_SECUNDARIO_2: #c0d8db;
    --COLOR_SECUNDARIO_3: #38b5a9;
}


.ocultar {
    display: none !important;
}

.form-group {
    margin-bottom: 20px;
    width: 100%;
    position: relative;
}

.form-group label {
    display: block; 
    font-weight: 600;
    margin-bottom: 8px;
    color: var(--COLOR_PRINCIPAL);
    font-size: 16px;
}

.form-group input, 
.form-group select {
    width: 100% !important;   
    height: 50px;            
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 10px;     
    background-color: #fff;
    font-size: 16px;          
    color: #333;
    box-sizing: border-box;   
    outline: none;
    transition: border 0.3s;
    -webkit-appearance: none; 
    appearance: none;
}

.form-group input:focus, 
.form-group select:focus {
    border-color: var(--COLOR_SECUNDARIO_3);
    box-shadow: 0 0 0 3px rgba(56, 181, 169, 0.1);
}

.form-group select {
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: right .7em top 50%;
    background-size: .65em auto;
}

.boton-ayuda {
    position: fixed;
    bottom: 3%; 
    right: 3%; 
    background-color: var(--COLOR_PRINCIPAL); 
    opacity: .7;
    color: white; 
    padding: 10px 15px; 
    border-radius: 20px 0 20px 0; 
    font-size: 16px; 
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 10; 
}

.boton-ayuda:hover {
    background-color: var(--COLOR_PRINCIPAL);
    opacity: 1;
}

.boton-ayuda i{
    margin-right: 3px;
    height: 100%;
}

.pedirTurno{
    background-color: var(--COLOR_SECUNDARIO_2);
    padding-top: 3em;
    padding-bottom: 3em !important;
    height: max-content;
}


.container-pasoUno {
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    background-color: white; 
    width: 85%;
    margin: 0 auto;
    margin-bottom: 60px;
    margin-top: 100px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
    border-radius: 10px;
}

.container-pasoUno h1 {
    text-align: center;
    margin-top: 20px;
    font-weight: 700;
    color: var(--COLOR_PRINCIPAL);
}

.diagrama-proceso {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 50px;
    gap: 2em;
}

.paso {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circulo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}

.circulo.verde {
    background-color: #1abc9c;
}

.flecha {
    width: 30px;
    height: 2px;
    background-color: gray;
    margin: 0 -5px; /* Para acercar las flechas a los círculos */
}

.flecha:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid gray;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    position: absolute;
    left: -5px; 
    top: 50%;
    transform: translateY(-50%);
}

.selects {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 30px;
}

.filtros {
    width: 23%;
}

.filtros:last-child {
    margin-right: 0; /* Sin margen derecho en el último select */
}

.filtros label {
    font-weight: 600;
    font-size: 15px;
    color: #2c3e50;
    margin-bottom: 5px; 
    display: block; 
}

.filtros select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: white;
    width: 100%;
}

.filtros input[type="date"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: white;
    width: 90%;
    cursor: pointer;
}

input[type="date" i] {
    font-family: monospace;
    padding-inline-start: 1px;
    cursor: pointer;
}

.row {
    display: flex;
    flex-wrap: wrap; 
    margin-right: -15px;
    margin-left: -15px;
}

.medico {
    display: flex;
    align-items: center;
    margin: 2em 0;
    gap: 4em;
}

.medico .info-medico-turnos {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 30%;
}

.medico .info-medico-turnos .foto-medico {
    width: 100px; 
    height: 100px;
    border-radius: 50%; 
    margin-right: 15px; 
}

.detalles h3 {
    margin: 0;
    font-size: 20px;
    color: var(--COLOR_PRINCIPAL);
}

.detalles p {
    margin: 5px 0;
    color: #7f8c8d; 
}

.medico .turnos-disponibles {
    display: flex;
    flex-wrap: wrap; 
    margin-left: 20px; 
    width: 50%;
}

.medico hr{
    width: 100%;
    background-color: #a1a1a1;
    border: none;
    height: 2px;
}

/*cuadraditos individuales*/
.turno {
    width: 60px; 
    height: 60px; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border-radius: 10px;
    font-weight: bold;
    color: white; 
}

.disponible {
    background-color: var(--COLOR_SECUNDARIO_3);
    transition: all .3s ease;
}
.disponible:hover {
    background-color: #2e9288;
}

.turno[data-idturno].selected {box-shadow: 0px 0px 5px 1px black;}

.turno[data-idturno]:hover{
    cursor: pointer;
}

.no-disponible {
    background-color: gray; 
    text-decoration: line-through; /* Tachar el texto */
}

.boton-siguiente {
    padding: 10px 20px;
    font-size: 18px;
    border: 2px solid var(--COLOR_PRINCIPAL);
    border-radius: 25px 0 25px 0;
    background:white;
    color: var(--COLOR_PRINCIPAL);
    font-weight: bold;
    cursor: pointer;
    display: block; 
    margin: 20px auto 0; 
    transition: background-color 0.3s; 
    width: 200px;
    font-family: 'Montserrat', sans-serif;
}

.boton-siguiente:hover {
    background-color: #16a085; 
    color: white;
}

/* PASO DOS*/
.container-pasoDos {
    padding: 20px 40px;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    width: 85%;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 60px;
}

.container-pasoDos h1 {
    color: var(--COLOR_PRINCIPAL);
    text-align: center;
}

.contenedor-detalle-formulario {
    display: flex;
    justify-content: space-between;
}


.columna-izquierda {
    flex: 1;
    margin-right: 30px;
}

.detalle-medico {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.detalle-medico h2 {
    color: var(--COLOR_PRINCIPAL);
    font-size: 18px;
    margin-bottom: 10px;
}

.detalle-medico p {
    color: black;
    font-size: 18px;
    margin: 5px 0;
}

.modificar-fecha {
    background-color: var(--COLOR_SECUNDARIO_3);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 8px 15px;
    cursor: pointer;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
}

.info-medico {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.info-medico p{
    color: #7f8c8d ;
}

.foto-medico {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 15px;
}

.detalles-medico {
    color: black;
}

.detalles-medico h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.columna-derecha {
    flex: 1.5;
}

.formulario-grupo {
    margin-bottom: 15px;
    padding-right:20px;
}

.formulario-grupo label {
    font-weight: 600;
    font-size: 16px;
    color: var(--COLOR_PRINCIPAL);
    margin-bottom: 5px;
    display: block;
}

.formulario-grupo input{
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;

}

.formulario-grupo select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.boton-confirmar {
    padding: 10px 20px;
    font-size: 18px;
    border: 2px solid var(--COLOR_PRINCIPAL);
    border-radius: 25px 0 25px 0;
    background:white;
    color: var(--COLOR_PRINCIPAL);
    font-weight: bold;
    cursor: pointer;
    display: block; 
    margin: 20px auto 0; 
    transition: background-color 0.3s; 
    width: 200px;
    font-family: 'Montserrat', sans-serif;
}

.boton-confirmar:hover {
    background-color: var(--COLOR_SECUNDARIO_3);
    color: white;
}



/* ¿CÓMO PEDIR UN TURNO? */

.contenedor-texto {
    text-align: center;
    margin-bottom: 10px; 
    margin-top: 120px;
}

.contenedor-texto h1{
    text-align: center;
    margin-bottom: 1em;
}

.contenedor-texto p {
    font-size: 16px;
    color: #555;
    margin-bottom: 2%; 
}
.contenedor-diagrama {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly; 
    align-items: flex-start;
    min-height: 100vh; 
    width: 100%; 
    background-color: white;
    margin-top: 20px;
}

.container-paso {
    display: flex;
    align-items: center;
    background-color: var(--COLOR_PRINCIPAL); 
    border-radius: 25px 0 25px 0;
    padding: 20px 30px;
    width: 48%;  
    height: 150px;
    color: white;
    position: relative;
    z-index: 1;
    margin: 10px 0 4em 0; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.numero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white; 
    color: #4acdd4; 
    font-size: 24px;
    font-weight: bold;
    margin-right: 8px; 
    margin-left: -10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.contenido {
    height: 130px;
    width: 80%;
    margin-left: 6%;
    border-radius: 0 0 25px 0;
}


.contenido h2 {
    font-size: 18px;
    margin: 0;
    font-weight: bold;
    color: var(--AZUL_OSCURO); 
}

.contenido p {
    margin: 5px 0 0;
    font-size: 14px;
    color: var(--AZUL_OSCURO); 
}

.contenido img {
    height: 50px;
    margin-top: 10px;
}


@media (max-width: 992px) {
    
    .container-pasoUno, 
    .container-pasoDos {
        width: 95%; 
        padding: 20px 15px;
        margin-top: 80px; 
    }
    
    .form-group.col-md-3,
    .form-group.col-md-6,
    .form-group.col-md-12 {
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
        padding: 0;      
        margin-bottom: 20px;
    }

    .row {
        display: flex;
        flex-direction: column; 
        gap: 5px;
        margin: 0;
    }

    .container-pasoUno,
    .container-pasoDos {
        width: 95% !important;
        padding: 20px 15px !important;
    }

    .diagrama-proceso {
        gap: 10px;
    }
    .flecha {
        width: 20px;
    }

    .medico {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        text-align: center;
        background: #fdfdfd;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    }

    .medico .info-medico-turnos {
        width: 100%;
        flex-direction: column; 
        justify-content: center;
    }

    .medico .info-medico-turnos .foto-medico {
        margin-right: 0;
        margin-bottom: 10px;
        width: 80px; 
        height: 80px;
    }

    .medico .turnos-disponibles {
        width: 100%;
        margin-left: 0;
        justify-content: center; 
    }

    .contenedor-detalle-formulario {
        flex-direction: column;
    }

    .columna-izquierda {
        margin-right: 0;
        margin-bottom: 30px;
        border-bottom: 2px solid #eee;
        padding-bottom: 20px;
    }

    .detalle-medico {
        text-align: center;
    }

    .info-medico-turnos {
        justify-content: center; 
    }

    /* --- BOTONES --- */
    .boton-siguiente,
    .boton-confirmar {
        width: 100%; 
    }

    /* --- DIAGRAMA DE PASOS --- */
    .diagrama-proceso {
        gap: 1em;
        margin-bottom: 30px;
    }
    
    .paso span {
        font-size: 14px; 
        text-align: center;
    }

    .flecha {
        width: 15px;
    }

}

@media (max-width: 480px) {
    
    /* Títulos */
    .container-pasoUno h1, 
    .container-pasoDos h1 {
        font-size: 1.5rem;
    }

    /* Ajuste Botón Ayuda Flotante */
    .boton-ayuda {
        padding: 8px 12px;
        bottom: 20px;
        right: 10px;
    }
    
    .boton-ayuda span {
        display: none; 
    }
    
    .boton-ayuda i {
        margin-right: 0;
        font-size: 24px;
    }

    .container-paso {
        width: 100%; 
        flex-direction: column;
        height: auto;
        text-align: center;
        padding: 20px;
    }

    .numero {
        margin: 0 0 15px 0; 
    }

    .contenido {
        width: 100%;
        margin-left: 0;
        height: auto;
    }
}
