:root { 
    --COLOR_PRINCIPAL: #005b6f;
    --COLOR_OSCURO: #0a3749;
    --COLOR_SECUNDARIO_1: #457d84;
    --COLOR_SECUNDARIO_2: #c0d8db;
    --COLOR_SECUNDARIO_3: #38b5a9;
}

.container-profesionales {
    background: var(--COLOR_PRINCIPAL);
    display: flex;
    flex-direction: row;
    align-items: flex-start; 
    justify-content: space-between;
    padding: 20px 20px 0 20px; 
    width: 100%;
    height: 630px; 
    box-sizing: border-box;
    margin-bottom: 50px; 
    margin-top: 30px;
}

.textos-profesionales {
    width: 35%;
    padding-right: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-top: 50px; 
    margin-left: 50px; 
    height: 90%;
    gap: .3em;
    text-align: left;
}

.textos-profesionales h1 {
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 40px;
}

.textos-profesionales p {
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 20px;
}

.linea {
    width: 100%; 
    height: 2px; 
    background-color: white; 
    margin: 10px 0; 
}

.imagen-profesionales {
    width: 60%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100%;
    margin: 0;
    background: url('/public/img/banner-profesionales.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
}

.imagen-profesionales img {
    width: 100%;
    height: auto; 
    max-height: 100%; 
    object-fit: cover; 
    margin: 0;
}

.tarjeta-medico {
    position: relative;
    background-color: #e8f4f8;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    text-align: center;
    transition: all 0.3s ease;
    margin-bottom: 10px;
    padding: 20px;
}

.tarjeta-medico .medico-foto {
    width: 100%;
    height: 300px;
    object-fit: cover;

}

.tarjeta-medico .medico-nombre {
    font-size: 22px;
    font-weight: 700;
    margin-top: 10px;
    padding-bottom: 0;
    cursor: pointer;
    color: var(--COLOR_PRINCIPAL);
}

.tarjeta-medico-container .medico-descripcion,
.tarjeta-medico-container .medico-horarios {
    display: none;
    font-size: 16px;
    color: #333;
    text-align: center;
    margin-bottom: 10px;
}

.tarjeta-medico .medico-nombre:hover + .medico-descripcion,
.tarjeta-medico .medico-nombre:hover + .medico-horarios {
    display: block;
}

.container-botones {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    width: 80%;
}

.medico-contacto {
    background: var(--COLOR_PRINCIPAL);
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 25px 0 0 0;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    width: 50%;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.medico-contacto:hover {
    background-color: var(--COLOR_SECUNDARIO_3);
}

.tarjeta-medico-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
} 

.ver-mas {
    background: var(--COLOR_SECUNDARIO_3);
    border-radius: 0 0 25px 0;
    color: white;
    margin-left: 5px;
    font-family: 'Montserrat', sans-serif;
}
.ver-mas:hover {
    background-color: var(--COLOR_PRINCIPAL);
}


/*PROFESIONALES - INFO MEDICO*/


/*estilos del "alert"*/
.modal-horarios {
    display: none; /*en principio no se muestra*/
    position: fixed;
    z-index: 1001; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /*para que se vea el fondo oscuro*/
    text-align: center;
}

.modal-horarios-contenido {
    background: rgba(255, 255, 255, 0.8);
    margin: 10% auto;
    padding: 30px 40px;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    width: 400px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    color: var(--AZUL_OSCURO);
    position: relative;
}

.modal-horarios-contenido h5 {
    color: var(--COLOR_PRINCIPAL);
    font-size: 24px;
    margin-bottom: 1em;
    margin-top: 1em;
}

.modal-horarios-contenido ul{
    list-style: none;
    padding: 0;
}

.modal-horarios-contenido ul li{
    margin-bottom: .5em;
}

.close { /*esta es la cruz para cerrar el formulario de recuperar contra*/
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 30px;
    font-weight: bold;
    color: var(--AZUL_OSCURO);
    cursor: pointer;
}

.close:hover {
    color: var(--COLOR_PRINCIPAL);
}

.medico-ver-horarios {
    background-color: var(--COLOR_PRINCIPAL);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px 0 25px 0;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    height: max-content;
}

.boton-regresar {
    display: inline-block; 
    background: var(--COLOR_SECUNDARIO_3);
    color: white; 
    padding: 10px 20px; 
    border-radius: 25px 0 25px 0;
    font-size: 15px; 
    font-weight: 500;
    text-decoration: none; 
    margin: 20px 0; 
    margin-top: 100px;
    margin-left: 30px;
}

.boton-regresar:hover {
    background: var(--AZUL_OSCURO); 
}

.container-info-medico {
    width: 90%;
    height: auto;
    margin: 0 auto; 
    padding: 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.medico-especialidad {
    font-weight: bold;
    margin-top: 10px; 
    color: var(--AZUL_OSCURO); 
    font-size: 20px; 
}

.medico-info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    gap: 5em;
    flex-wrap: wrap;
}

.medicofoto-ver-mas {
    width: 400px; 
    height: auto; 
    margin-right: 10px; 
    border: 2px solid var(--COLOR_PRINCIPAL);
    border-radius: 25px 0 25px 0 ;
}

.medico-detalles {
    width: max-content;
    color: var(--AZUL_OSCURO);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
}

.medico-detalles h2 {
    color: var(--AZUL_OSCURO); 
    font-size: 40px;
    margin: 0; 
}

.medico-pedir-turno {
    background: var(--DEGRADADO);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px 0 25px 0;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
}

.medico-detalles h5{
    font-weight: 500;
    margin-bottom: 10px;
}

.medico-detalles hr{
    width: 100%;
    background-color: var(--AZUL_OSCURO);
    border: none;
    height: 2px;
}

.medico-detalles ul{
    list-style: none;
    padding: 0;
    margin-bottom: 3em;
}

.medico-detalles ul i{
    color: var(--COLOR_SECUNDARIO_3);
}

.medico-detalles p{
    font-size: 15px;
    color: #767676;
}

.medico-detalles .horarios-coberturas{
    display: flex;
    justify-content: center;
    gap: 1em;
    align-items: center;
}

.medico-detalles .practicas-medico{
    height: max-content;
}